@inherits LayoutComponentBase

<div class="page">

    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand">Questions & Answers</a>
            <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="123123-1231232-123" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Copy</button>
            </form>
        </div>
    </nav>

    <div class="container" style="padding-top: 80px">
        @Body
    </div>
</div>
